@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Cabin");
* {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

body {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

.centered {
  width: 400px;
  height: 600px;
  z-index: 900;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -100px 0 0 -200px;
}

#welcome {
  height: 100vh;
  overflow: hidden;
}

#title {
  color: white;
  position: absolute;
  z-index: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.title {
  font-size: 5em;
  float: left;
  grid-column: 2;
}

#heroImage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  background-color: #321eb3;
}

.bkgArea {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-image: url(../images/lines.png);
  position: absolute;
  z-index: 600;
  mix-blend-mode: soft-light;
  height: 1600px;
  width: 100%;
  animation: moveUp 40s linear infinite;
  overflow: hidden;
}

@keyframes moveUp {
  0% {
    transform: translate3d(0, 800px, 0);
  }
  100% {
    transform: translate3d(0, 800px, 0);
  }
}
#bkg1 {
  background-image: url(../images/1bkg.jpg);
  background-size: cover;
}

#bkg2 {
  background-image: url(../images/2bkg.png);
  background-size: cover;
}

#bkg3 {
  background-image: url(../images/3bkg.jpg);
  background-size: cover;
}

#bkg4 {
  background-image: url(../images/4bkg.jpg);
  background-size: cover;
}

#bkg5 {
  background-image: url(../images/5bkg.jpg);
  background-size: cover;
}

#bkg6 {
  background-image: url(../images/6bkg.jpg);
  background-size: cover;
}

@media screen and (min-width: 600px) {
  #loginBox {
    width: 600px;
  }
}
@media screen and (min-width: 900px) {
  #heroImage {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  #title {
    margin-top: 5%;
  }

  .title {
    font-size: 6em;
  }
}
header {
  position: fixed;
  z-index: 1000;
  background: #321eb3;
}

#logo {
  position: absolute;
  fill: white;
  height: 60px;
  width: 130px;
  z-index: 1000;
  padding: 0.3em;
}

nav {
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 5%;
}

li a {
  display: block;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #321eb3;
}

@media screen and (min-width: 900px) {
  .dashboard {
    margin-left: 6em;
  }
}
footer {
  background: #321eb3;
  padding: 3%;
  padding-top: 10em;
  height: 20em;
  z-index: 400;
  font-size: 0.8em;
  overflow: hidden;
}

.foot {
  width: 120px;
  line-height: 0.5em;
  text-align: left;
  float: left;
}
.foot li a {
  padding: 1em;
}

#socialMedia {
  font-size: 1.5em;
}

#footerMenu {
  font-size: 0.8em;
}

a:focus,
a:hover {
  text-decoration: underline;
}

form {
  background-color: white;
  padding: 2em;
  grid-column: 3;
  margin: 0 auto;
  text-align: center;
  height: 300px;
}

input {
  padding: 0.5em;
  background-color: #efefef;
  border-style: none;
  margin-bottom: 2em;
}

input {
  padding: 0.5em;
  background-color: #efefef;
  width: 95%;
  border-style: none;
  margin-bottom: 2em;
}

.signText {
  margin-bottom: 1em;
  color: #323232;
}

#account {
  color: Red;
}

.mainButton {
  width: 300px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 10px;
  border: none;
  color: #321eb3;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  border: 2px solid #321eb3;
  margin-bottom: 1em;
}

#firstButton {
  width: 200px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 10px;
  border: none;
  color: #321eb3;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  position: absolute;
  left: 150px;
  bottom: 5px;
}

.mainButton:hover {
  background: #321eb3;
  color: white;
}

.dashboard {
  margin: 1em;
  background: #f0f0f0;
  z-index: 900;
  position: absolute;
  top: 8%;
  font-size: 0.7em;
  color: #1d1d1d;
  min-width: 200px;
}

.infoArea {
  height: 30em;
  padding: 2%;
}

.movieContent {
  grid-column: 4;
  overflow: hidden;
  background: #321eb3;
  height: 280px;
  transition: all 0.2s ease-in-out;
  flex: 0 0 auto;
}

.movieSection {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movieSection::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.vidImage {
  mix-blend-mode: lighten;
  transition: all 0.2s ease-in-out;
  transition: 500ms;
  height: 280px;
  overflow: hidden;
}

.vidImage:hover {
  mix-blend-mode: inherit;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 100;
}

.audiopic {
  height: 200px;
}

.mediaTitle {
  margin-bottom: 1em;
  justify-self: center;
  margin-top: 1em;
  text-align: center;
}

.yearMovie {
  text-align: center;
  margin-bottom: 1em;
}

.mediaDetails {
  padding: 2%;
  margin-bottom: 2em;
  height: 5em;
}

.mediaGenres {
  height: 7em;
  background: #f0f0f0;
  color: #321eb3 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.mediaGenres a {
  text-decoration: none;
}
.mediaGenres a:hover {
  background: none;
}

.fs-video, .fs-audio {
  display: block;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}

.mediaNav {
  border-top: 0.5px solid white;
  z-index: 2000;
  background: #321eb3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.mediaNav li {
  text-align: center;
  padding: 14px 16px;
  font-size: 1em;
}
.mediaNav li :hover {
  color: white;
}

#share {
  height: 3em;
  display: flex;
}

.pin {
  height: 30em;
}

@media screen and (min-width: 700px) {
  .dashboard {
    margin: 2em;
  }

  .infoArea {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .mediaDetails {
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  .yearMovie {
    grid-row: 1;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (min-width: 900px) {
  .dashboard {
    margin: 3em;
  }

  .fs-video {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard {
    margin: 6em;
  }
}

/*# sourceMappingURL=master.css.map */
