@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Cabin');
$mainFont: 'Open Sans', sans-serif;
//$mainFont: 'Cabin', sans-serif;

$blue: #321eb3;
$pink: #e951c8;