.mainButton {
    width:300px;
    cursor: pointer;
    padding:15px 45px;
    border-radius:10px;
    border:none;
    color:$blue;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing:border-box;
    transition:0.5s;
    font-size:1.2em;
    background-color:rgba(255, 255, 255, 0.8);
    position:relative;
    border:2px solid $blue;
    margin-bottom:1em;

}

#firstButton {
    width:200px;
    cursor: pointer;
    padding:15px 45px;
    border-radius:10px;
    border:none;
    color:$blue;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing:border-box;
    transition:0.5s;
    font-size:1.2em;
    background-color:rgba(255, 255, 255, 0.8);
    position:relative;
    position: absolute;
    left:150px;
    bottom:5px;

}



.mainButton:hover{
background: $blue;
    color:white;
}

