///to be dashboard component

.dashboard{
   margin:1em;
    //background:rgba(50, 30, 179, 0.90);
    background:$white;
    //display:grid;
    z-index:900;
    position: absolute;
    top: 8%;
    font-size:0.7em;   
    color:$grey;
    min-width: 200px;
    
}

.infoArea{
    height:30em;
    padding:2%;
 }


.movieContent{
    grid-column:4;
    overflow: hidden;
    background:$blue;
    height:280px;
    transition: all .2s ease-in-out; 
    flex:0 0 auto;
 }

//genre section container


.movieSection{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

  }
  .movieSection::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
    //works in chrome
    }
 

.vidImage{
    mix-blend-mode: lighten;
    transition: all .2s ease-in-out; 
    transition: 500ms;
    height:280px;
    overflow: hidden;
}
.vidImage:hover {
    mix-blend-mode:inherit;  
    cursor: pointer;
    transform: scale(1.1);
    z-index:100;
  
}


.audiopic{

    height:200px;
}


.mediaTitle{
    margin-bottom:1em;
   justify-self:center;
   margin-top:1em;
   text-align:center;
}

.yearMovie{
    text-align: center;
    margin-bottom:1em;
}

.mediaDetails{
    padding:2%;
    margin-bottom:2em;
    height:5em;

}
.mediaGenres{
    //color:rgba(255, 255, 255, 0.5)!important;
    height:7em;
    background:$white;
    color:$blue !important;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items:center;
    align-items: center;
    a{
    text-decoration:none;
}
a:hover{

    background:none;
}

}

.fs-video, .fs-audio{
   display:block;
   margin:0 auto;
   justify-self: center;
  align-self: center;
}

//bottomNav
.mediaNav{
    border-top:0.5px solid white;
    z-index:2000;
    background:$blue;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.5);
}


.mediaNav li{
    text-align: center;
    padding: 14px 16px;
    font-size:1em;

   :hover{
       color:white;
   }
}

//share icons
#share{
    height:3em;
    display:flex;
}
.pin {
    height:30em;

}

@media screen and (min-width:700px){
    .dashboard{
        margin:2em;
        
    }
    .infoArea{
        display:grid;
        grid-template-columns:50% 50%;
        

    }

    .mediaDetails{
        grid-row:2;
        justify-self: center;
        align-self: center;
    }
    .yearMovie{
        grid-row:1;
        margin-bottom:1em;
        justify-self: center;
        align-self: center;
    }
    }

    @media screen and (min-width:900px){
        .dashboard{
          margin:3em;
      
        }

        .infoArea{
           // grid-column:2;
        
        }
        .fs-video{
            width:80%;
     
        }
        }

        @media screen and (min-width:1200px){
            .dashboard{
            margin:6em;
              
            }
        }