///to be dashboard component

.dashboard{
   margin:1em;
    background:$blue;
   // height:100%;
   display:grid;
  
  //  grid-template-rows: 5em 1fr 1fr 1fr;
    //grid-template-columns: 1fr 1fr;
    z-index:900;
    position: absolute;
    top: 8%;
   // height:800px;
    font-size:0.7em; 
    //border:1px solid white;


  
}

.infoArea{
    height:30em;
    padding:2%;
 

 
}


.movieContent{
grid-column:4;
    overflow: hidden;
    background:$blue;
    height:280px;
    transition: all .2s ease-in-out; 
    flex:0 0 auto;
 
  }

//genre section container

.movieSection{

   
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
   // overflow:hidden;
  }
  .movieSection::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
    //works in chrome
    }
 

.vidImage{

    mix-blend-mode: lighten;
    transition: all .2s ease-in-out; 
    transition: 500ms;
    height:280px;
    overflow: hidden;
}
.vidImage:hover {
    mix-blend-mode:inherit;  
    cursor: pointer;
    transform: scale(1.1);
    z-index:100;
  
}

//buttons



//text



.mediaTitle{
    margin-bottom:1em;
  // grid-column: 2;
   justify-self:center;
   //align-self:center;
   margin-top:1em;
   text-align:center;
}

.yearMovie{
  
    text-align: center;
}

.mediaDetails{
    padding:2%;
    margin-bottom:2em;
    height:5em;

}



.mediaGenres{
 
    height:7em;
    background:$blue;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items:center;
    align-items: center;
    a{
    text-decoration:none;
}
a:hover{
    color:$pink;
}

}

.fs-video, .fs-audio{
   display:block;
   margin:0 auto;
}

//bottomNav
.mediaNav{
    z-index:2000;
    background:$blue;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.5);
}


.mediaNav li{
    text-align: center;
    padding: 14px 16px;
    font-size:1em;

   :hover{
       color:white;
   }
}

//share icons
#share{
    height:3em;
    display:flex;
}
.pin {
    height:30em;
    background:blue;
}

@media screen and (min-width:800px){
    .dashboard{
        //margin:2em;
    }
    }

    @media screen and (min-width:900px){
        .dashboard{
           // margin:15% 6em 0 6em;
        }
        }