#welcome{
    height:100vh;
    position:relative;
    overflow: hidden;


}
#title{
    color:white;
    position: absolute;
    z-index:600;
    text-align: center;
    font-size:4em;
   width:100%;
    margin-top:2.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#heroImage {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   height:100%;
   position:relative;
   background-color:$blue;
  
} 
.overlay{
    background-image:url(../images/lines.png);
    height:100%;
    width:100%;
    position: absolute;
    z-index:500;
    mix-blend-mode:soft-light;
   
}



#bkg1{
    background-image: url(../images/1bkg.jpg);
    background-size:cover;
 

}

#bkg2{
    background-image: url(../images/2bkg.png);
    background-size:cover;
}
#bkg3{
    background-image: url(../images/3bkg.jpg);
    background-size:cover;
}//
#bkg4{
    background-image: url(../images/4bkg.jpg);
    background-size:cover;
}
#bkg5{
    background-image: url(../images/5bkg.jpg);
   background-size:cover;
}
#bkg6{
    background-image: url(../images/6bkg.jpg);
    background-size:cover;
}

@media screen and (min-width:600px){
    #loginBox{
        width:600px;
    
      // margin:0 auto;
    }
    }
    @media screen and (min-width:900px){
        #heroImage{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows:none;
    
       
        }
        #title{
            font-size: 5em;
        }
    }