


a:focus,
a:hover {
  text-decoration: underline;
}

 
 form{
   
     background-color:white;
    padding:2em;
     grid-column: 3;
     margin:0 auto;
     text-align: center;
     height:300px;


}
 
 input{
     padding:.5em;
     background-color:#efefef;
     //width:95%;
     border-style:none;
     margin-bottom:2em;

 
 }

input{
    padding:.5em;
 
    background-color:#efefef;
    width:95%;
    border-style:none;
    margin-bottom:2em;

}

.signText{
    margin-bottom:1em;
    color:rgb(50, 50, 50);
}

#account{
  color:Red;
}